  header {
    margin-top:10px;
    justify-content: space-between;
  }

  .navbar-brand .navbar-toggler .navbar-toggler-icon{
    float: left;
  }

  article{
    margin: 10px;
  }
  
  section {
    position: relative;
  }

  section form div input {
    width: 100px;
    border: 5%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  